<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="floating-button flex align-items-center">
                <span class="tooltip" [ngClass]="{ show: tooltipVisible }">Nuevo</span>
                <button pButton icon="pi pi-plus" class="p-button-rounded p-2.5 text-l" (mouseenter)="showTooltip()"
                    (mouseleave)="hideTooltip()" (click)="abrirModalTecnologico()"></button>
            </div>
            <h5>BIENES TECNÓLOGICOS</h5>
            <p-toast></p-toast>
            <p-table [value]="tecnologicos" dataKey="id_bien_tec" [tableStyle]="{ 'min-width': '60rem' }"
                scrollDirection="both" [scrollable]="true" scrollHeight="450px" [rowHover]="true" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10, 20, 30]">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row" style="gap: 6px">
                        <div class="flex justify-content-between flex-column sm:flex-row" style="gap: 6px">
                            <p-dropdown class="w-full" [options]="categories" optionLabel="name"
                                placeholder="Selecciona un bloque" filter="true"
                                class="fixed-width-dropdown" (onChange)="onSelectBloque($event)"></p-dropdown>

                            <p-dropdown class="w-full" [options]="area" optionLabel="name"
                                placeholder="Selecciona un area" filter="true"
                                class="fixed-width-dropdown" [disabled]="isDropdownDisabled" (onChange)="onSelectArea($event)"></p-dropdown>

                            <p-button label="Cargar" icon="pi pi-search" [loading]="loading[0]"
                                (onClick)="load(0)" [disabled]="isFiltrarDisabled"></p-button>
                        </div>

                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter placeholder="Buscar" class="w-full" />
                        </span>

                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5rem"></th>
                        <th pSortableColumn="qr">QR</th>
                        <th pSortableColumn="nombre">
                            NOMBRE<p-sortIcon field="nombre"></p-sortIcon>
                        </th>
                        <th pSortableColumn="atributos">
                            ATRIBUTOS <p-sortIcon field="atributos"></p-sortIcon>
                        </th>
                        <th pSortableColumn="marca">
                            MARCA <p-sortIcon field="marca"></p-sortIcon>
                        </th>
                        <th pSortableColumn="modelo">
                            MODELO <p-sortIcon field="modelo"></p-sortIcon>
                        </th>
                        <th pSortableColumn="num_serie">
                            N. SERIE <p-sortIcon field="num_serie"></p-sortIcon>
                        </th>
                        <th pSortableColumn="fecha_adquisicion">
                            FE. ADQUISICION
                            <p-sortIcon field="fecha_adquisicion"></p-sortIcon>
                        </th>
                        <th pSortableColumn="estado">
                            ESTADO <p-sortIcon field="estado"></p-sortIcon>
                        </th>
                        <th pSortableColumn="codigoUTA">
                            CODIGO UTA <p-sortIcon field="codigoUTA"></p-sortIcon>
                        </th>
                        <th pSortableColumn="localizacion">
                            LOCALIZACION <p-sortIcon field="localizacion"></p-sortIcon>
                        </th>
                        <th pSortableColumn="ip_tecnologico">
                            IP <p-sortIcon field="ip_tecnologico"></p-sortIcon>
                        </th>
                        <th pSortableColumn="codigo_adicional">
                            CODIGO ADICIONAL <p-sortIcon field="codigo_adicional"></p-sortIcon>
                        </th>
                        <th pSortableColumn="acciones">ACCIONES</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="product"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td>
                            <img [src]="product.image" [alt]="product.nombre" width="60" class="shadow-4" />
                        </td>
                        <td>{{ product.nom_Bien }}</td>
                        <td>{{ product.atributos }}</td>
                        <td>{{ product.marca }}</td>
                        <td>{{ product.modelo }}</td>
                        <td>{{ product.num_serie }}</td>
                        <td>{{ product.fecha_adquisicion | date : "yyyy-MM-dd" }}</td>
                        <td>
                            <span [class]="
                                    'product-badge status-' + product.estado.toLowerCase()
                                    ">{{ product.estado }}
                            </span>
                        </td>
                        <td>{{ product.codigoUTA }}</td>
                        <td>{{ product.localizacion }}</td>
                        <td>{{ product.ip_tecnologico }}</td>
                        <td>{{ product.codigo_adicional }}</td>
                        <td  class="hidden-column">{{product.id_area_per}}</td>
                        <td class="flex flex-row align-items-center sm:flex-col" style="gap: 8px">
                            <p-button type="button" icon="pi pi-pen-to-square" class="p-button-rounded" (onClick)="editarBienTecnologico(product)"></p-button>
                            <p-button type="button" icon="pi pi-trash" class="p-button-rounded" (onClick)="eliminar()"></p-button>
                            <p-button type="button" icon="pi pi-sync" class="p-button-rounded" (click)="abrirModalComponente(product)" ></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-product>
                    <h6>COMPONENTES</h6>
                    <tr>
                        <td colspan="15">
                            <div class="p-3">
                                <p-table [value]="product.componentes" dataKey="id_bien_tec">
                                    <ng-template pTemplate="header">
                    <tr>
                       
                        <th pSortableColumn="nombre">
                            NOMBRE <p-sortIcon field="nombre"></p-sortIcon>
                        </th>
                        <th pSortableColumn="marca">
                            MARCA <p-sortIcon field="marca"></p-sortIcon>
                        </th>
                        <th pSortableColumn="modelo">
                            MODELO <p-sortIcon field="modelo"></p-sortIcon>
                        </th>
                        <th pSortableColumn="num_serie">
                            N. SERIE <p-sortIcon field="num_serie"></p-sortIcon>
                        </th>
                        <th pSortableColumn="codigoUTA">
                            CÓDIGO UTA
                            <p-sortIcon field="codigoutaUTA"></p-sortIcon>
                        </th>
                        <th pSortableColumn="estado">
                            ESTADO
                            <p-sortIcon field="estado"></p-sortIcon>
                        </th>
                        <th pSortableColumn="repotenciado">
                            REPOTENCIADO
                            <p-sortIcon field="repotenciado"></p-sortIcon>
                        </th>
                        <th pSortableColumn="acciones">ACCIONES</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                        <td class="hidden-column">{{ order.id_componente }}</td>
                        <td>{{ order.nombre }}</td>
                        <td>{{ order.marca }}</td>
                        <td>{{ order.modelo }}</td>
                        <td>{{ order.num_serie }}</td>
                        <td>{{ order.codigoUTA }}</td>
                        <td>
                            <span [class]="
                                'product-badge status-' + order.estado.toLowerCase()
                                ">{{ order.estado }}
                            </span>
                        </td>
                        <td>
                            <span [class]="
                                'product-badge status-' + order.repotenciado.toLowerCase()
                                ">{{ order.repotenciado }}
                            </span>
                        </td>
                        <td class="flex flex-row align-items-center sm:flex-col" style="gap: 8px">
                            <p-button type="button" icon="pi pi-pen-to-square" class="p-button-rounded"   (click)="openEditComponentModal(order)"></p-button>
                            <p-button type="button" icon="pi pi-trash" class="p-button-rounded" (click)="eliminarComponente(order)"></p-button>
                            
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">Sin componentes</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        </p-table>
    </div>
</div>

<!-- Form para agregar bien -->
<p-dialog [header]="isEditMode ? 'Editar Bien Tecnologico' : 'Agregar Bien Tecnologico'" [(visible)]="display" [modal]="true"
    [style]="{ width: '40vw', minWidth: '300px' }">
    <form [formGroup]="inventoryForm" (ngSubmit)="guardarBienesTecnologicos()">
        <div class="formgrid grid">
            <div class="field col">
                <label for="id_proveedor_per">Selecciona el Bloque </label>
                <p-dropdown formControlName="id_proveedor_per" [options]="categories" optionLabel="name" placeholder="Selecciona"
                    filter="true" class="focus:border-primary fixed-width-dropdown"  (onChange)="onSelectBloque($event)"></p-dropdown>
            </div>
            <div class="field col">
                <label for="id_area_per">Selecciona el Área</label>
                <p-dropdown formControlName="id_area_per" [options]="area" optionLabel="name" placeholder="Selecciona"
                    filter="true" class="focus:border-primary fixed-width-dropdown"  [disabled]="isDropdownDisabled" (onChange)="onSelectArea($event)"></p-dropdown>
            </div>
        
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="id_tipo_per">Selecciona el Tipo</label>
                <p-dropdown formControlName="id_tipo_per" [options]="tipoBien" optionLabel="name" placeholder="Selecciona"
                    filter="true" class="focus:border-primary fixed-width-dropdown"></p-dropdown>
            </div>
            <div class="field col">
                <label for="id_proveedor_per" >Selecciona Proveedor</label>
                <p-dropdown formControlName="id_proveedor_per" [options]="proveedor" optionLabel="name" placeholder="Selecciona"
                    filter="true" class="focus:border-primary fixed-width-dropdown"></p-dropdown>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="fecha_adquisicion">Fecha</label>
                <p-calendar formControlName="fecha_adquisicion" [showIcon]="true"  [showOnFocus]="true" dateFormat="yy-mm-dd">
                </p-calendar>
                
            </div>    
            <div class="field col">
                <label for="estado">Estado</label>
                <p-dropdown formControlName="estado" [options]="estado" optionLabel="name" placeholder="Selecciona"
                     class="focus:border-primary fixed-width-dropdown"></p-dropdown>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="num_serie">Número de serie</label>
                <input formControlName="num_serie" type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
            <div class="field col">
                <label for="codigo_adicional">Código Adicional</label>
                <input formControlName="codigo_adicional" type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="modelo">Modelo</label>
                <input formControlName="modelo" type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
            <div class="field col">
                <label for="codigoUTA">Código UTA</label>
                <input formControlName="codigoUTA" type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col">
                <label for="marca">Marca</label>
                <input formControlName="marca" type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
            <div class="field col">
                <label for="localizacion">Localización</label>
                <input formControlName="localizacion" type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="ip_tecnologico">IP del Equipo</label>
                <input formControlName="ip_tecnologico" type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
            <div class="field col">
            </div>
        </div>
        <p-footer class="flex justify-content-end gap-3">
            <button pButton type="submit" label="Guardar" class="p-button-success"></button>
            <button pButton type="button" label="Cancelar" class="p-button-secondary"
                (click)="display = false"></button>
        </p-footer>
    </form>
</p-dialog>


<p-toast position="bottom-center" key="bc"></p-toast>

<!-- Form para componentes-->
<p-dialog header="Ingresar Componente" [(visible)]="componentes" [modal]="true" [style]="{ width: '40vw', minWidth: '300px' }">
    <form [formGroup]="componentForm" (ngSubmit)="guardarComponentes()">
        
        <div class="formgrid grid">
            <div class="field col">
                <label for="nombre">Nombre</label>
                <input formControlName="nombre" type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
            <div class="field col">
                <label for="marca">Marca</label>
                <input formControlName="marca" type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="modelo">Modelo</label>
                <input formControlName="modelo" type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
            <div class="field col">
                <label for="num_serie">Número de serie</label>
                <input formControlName="num_serie" type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col">
                <label for="repotenciado">Repotenciado</label>
                <p-dropdown formControlName="repotenciado" [options]="repotenciado" optionLabel="name" placeholder="Selecciona"
                     class="focus:border-primary fixed-width-dropdown"></p-dropdown>
            </div>
            
            <div class="field col">
                <label for="estado">Estado</label>
                <p-dropdown formControlName="estado" [options]="estado" optionLabel="name" placeholder="Selecciona"
                     class="focus:border-primary fixed-width-dropdown"></p-dropdown>
            </div>
        </div>
        
        <div class="formgrid grid">
            <div class="field col">
                <label for="codigoUTA">Código UTA</label>
                <input formControlName="codigoUTA" type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
            </div>
            <div class="field col">
                <label for="id_proveedor_per">Proveedor</label>
                <p-dropdown formControlName="id_proveedor_per" [options]="proveedor" optionLabel="name" placeholder="Selecciona"
                     class="focus:border-primary fixed-width-dropdown"></p-dropdown>
            </div>
        </div>
       
        <p-footer class="flex justify-content-end gap-3">
            <button pButton type="submit" label="Guardar" class="p-button-success"></button>
            <button pButton type="button" label="Cancelar" class="p-button-secondary"
                (click)="componentes = false"></button>
        </p-footer>
    </form>
</p-dialog>

</div>