<div class="grid">
    <div class="col-12">
        <div class="card">
            <div>
                <span class="flex mb-5">Bienes Tecnológicos</span>
            </div>
            <p-toast></p-toast>
            <p-table [value]="tecnologicos" dataKey="id_bien_tec" [tableStyle]="{'min-width': '60rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5rem"></th>
                        <th>Código QR</th>
                        <th pSortableColumn="nombre">NOMBRE<p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="atributos">ATRIBUTOS <p-sortIcon field="atributos"></p-sortIcon></th>
                        <th pSortableColumn="marca">MARCA <p-sortIcon field="marca"></p-sortIcon></th>
                        <th pSortableColumn="modelo">MODELO <p-sortIcon field="modelo"></p-sortIcon></th>
                        <th pSortableColumn="num_serie">N. SERIE <p-sortIcon field="num_serie"></p-sortIcon></th>
                        <th pSortableColumn="fecha_adquisicion">FEC ADQUISICION <p-sortIcon
                                field="fecha_adquisicion"></p-sortIcon></th>
                        <th pSortableColumn="estado">ESTADO <p-sortIcon field="estado"></p-sortIcon></th>
                        <th pSortableColumn="codigoUTA">CODIGO UTA <p-sortIcon field="codigoUTA"></p-sortIcon></th>
                        <th pSortableColumn="localizacion">LOCALIZACION <p-sortIcon field="localizacion"></p-sortIcon>
                        </th>

                        <th pSortableColumn="repotenciado">Repotenciado <p-sortIcon field="repotenciado"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="product"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td><img [src]="product.image" [alt]="product.nombre" width="100" class="shadow-4" /></td>
                        <td>{{product.nom_Bien}}</td>
                        <td>{{product.atributos}}</td>
                        <td>{{product.marca}}</td>
                        <td>{{product.modelo}}</td>
                        <td>{{product.num_serie}}</td>
                        <td>{{product.fecha_adquisicion}}</td>
                        <td>{{product.estado}}</td>
                        <td>{{product.codigoUTA}}</td>
                        <td>{{product.localizacion}}</td>

                        <td><span
                                [class]="'product-badge status-' + product.repotenciado.toLowerCase()">{{product.repotenciado}}</span>
                        </td>
                        <td><p-button type="button" icon="pi pi-pen-to-square"></p-button></td>
                        <td><p-button type="button" icon="pi pi-trash"></p-button></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-product>
                    <tr>
                        <td colspan="14">
                            <div class="p-3">
                                <p-table [value]="product.componentes" dataKey="id_bien_tec">
                                    <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="nombre">NOMBRE <p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="marca">MARCA <p-sortIcon field="marca"></p-sortIcon></th>
                        <th pSortableColumn="modelo">MODELO <p-sortIcon field="modelo"></p-sortIcon></th>
                        <th pSortableColumn="numeroserie">N. SERIE <p-sortIcon field="numeroserie"></p-sortIcon></th>
                        <th pSortableColumn="codigouta">CODIGO UTA <p-sortIcon field="codigouta"></p-sortIcon></th>
                        <th style="width: 3rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                        <td>{{order.id_componente}}</td>
                        <td>{{order.nombre}}</td>
                        <td>{{order.marca}}</td>
                        <td>{{order.modelo}}</td>
                        <td>{{order.num_serie}}
                        <td>{{order.codigoUTA}}</td>

                        <td><p-button type="button" icon="pi pi-pen-to-square"></p-button></td>
                        <td><p-button type="button" icon="pi pi-trash"></p-button></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">Sin componentes</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        </p-table>
    </div>
</div>
</div>