.mobiliarios {
    font-size: 28px;
    color: rgb(105, 105, 105);
    font-weight: bold;
  }

  @media (max-width: 767px) {
    .mobiliarios {
      font-size: 20px; /* Tamaño de letra reducido para dispositivos móviles */
    }
  }
  