.mobiliarios {
    font-size: 28px;
    color: rgb(105, 105, 105);
    font-weight: bold;
}

p-dropdown {
    width: 50% !important;
}

::ng-deep .p-datatable-wrapper {
    height: 400px;
    overflow-y: auto;
}