<p>Usuarios</p>
<qrcode [qrdata]="'http://localhost:4200/panel/personal/usuarios'" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
<p>Encargados</p>
<qrcode [qrdata]="'http://localhost:4200/panel/personal/encargados'" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
<p>Bienes tecnologicos</p>
<qrcode [qrdata]="'http://localhost:4200/panel/inventarios/tecnologicos'" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
<p>Bienes mobiliarios</p>
<qrcode [qrdata]="'http://localhost:4200/panel/inventarios/mobiliarios'" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>

