<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex reportes justify-content-between flex-wrap mb-5">
                <span class="flex align-items-center">Reportes</span>
            </div>
            <div class="flex flex-row flex-wrap mb-3">
                <span class="flex align-items-center justify-content-center m-2">Seleccione el departamento: </span>
                <p-dropdown class="flex align-items-center justify-content-center" [options]="departamentos"
                    dataKey="code" optionLabel="name" placeholder="Seleccione el Departamento" autoWidth="false"
                    [style]="{'width':'15.9rem'}" [(ngModel)]="selectedDepartamento"
                    (onChange)="onDepartamentoChange($event)"></p-dropdown>
            </div>
            <p-table [value]="reportes" [rows]="5" [rowsPerPageOptions]="[5,10, 25, 50]"
                [tableStyle]="{ 'min-width': '45rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th><span class="flex mb-2">TIPO DE REPORTE</span></th>
                        <th><span class="flex mb-2">DESCRIPCION</span></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-reporte>
                    <tr>
                        <td>{{ reporte.tipo }}</td>
                        <td>{{ reporte.descripcion }}</td>
                        <td class="flex flex-row justify-content-center gap-2">
                            <button *ngIf="reporte.tipo === 'Reporte Completo'" pButton pRipple type="button"
                                icon="pi pi-file-pdf" (click)="mostrarDialogoPDF(reporte.code, reporte.tipo)"
                                class="p-button p-component p-button-text p-button-lg flex align-items-center justify-content-center"
                                style="color:red"></button>

                            <button *ngIf="reporte.tipo === 'Reporte Completo'" pButton pRipple type="button"
                                icon="pi pi-file-excel" (click)="mostrarDialogoEXCEL(reporte.code, reporte.tipo)"
                                class="p-button p-component p-button-text flex p-button-lg align-items-center justify-content-center"
                                style="color:green"></button>

                            <p-button *ngIf="reporte.tipo !== 'Reporte Completo'" label="Seleccionar" (click)="mostrarDialogoPDF(reporte.code, reporte.tipo)"
                                [rounded]="true"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-dialog header="Reporte por Área" [modal]="true" [(visible)]="visible"
    [style]="{ width: '25rem', 'min-height': '310px' }">
    <div class="flex justify-content-between">
        <div class="flex align-items-center justify-content-center gap-3 mb-3">
            <p-dropdown [options]="areas" [(ngModel)]="selectedArea" dataKey="id_area" optionLabel="nombre"
                placeholder="Seleccione un área"></p-dropdown>
        </div>
        <div class="flex flex-row flex-wrap align-items-center justify-content-center">
            <button pButton pRipple type="button" icon="pi pi-file-pdf" (click)="descargarPDFPorArea()"
                class="p-button p-component p-button-text p-button-lg flex align-items-center justify-content-center"
                style="color:red"></button>
            <button pButton pRipple type="button" icon="pi pi-file-pdf" (click)="descargarExcelPorArea()"
                class="p-button p-component p-button-text p-button-lg flex align-items-center justify-content-center"
                style="color:green"></button>
        </div>
    </div>
</p-dialog>
<p-toast position="bottom-right"></p-toast>
<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>